/* 图库详情 begin */
.main {
  background: #efefef;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.ad-banner a {
  display: block;
}
.ad-banner img {
  width: 100%;
  max-width: 100%;
  max-height: 170px;
  min-width: 996px;
  display: block;
}
.img-info-wrap {
  margin: 15px auto 0;
}
.img-show-main {
  width: 840px;
  float: left;
  margin-right: 10px;
  background: #fff;
  padding: 0 14px 0 12px;
}
.img-show-main .img-title {
  text-align: justify;
  height: 52px;
  line-height: 52px;
  color: #595757;
  font-size: 16px;
  margin: 20px 0 0 0;
}
.img-show-main .img-title .icon-back {
  float: left;
  margin-left: 26px;
}
.img-show-main .img-title .icon-addimg {
  float: right;
  margin-right: 66px;
}
.img-show-main .img-title .see-img {
  z-index: 1;
  float: right;
  border: 1px solid #b5b5b5;
  width: 36px;
  height: 36px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-show-main .img-title .see-img i {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.img-show-main .img-content-wrap {
  min-height: 1058px;
  text-align: center;
}
.img-show-main .img-content-wrap img {
  max-width: 100%;
}
.img-detail-aside {
  width: 350px;
  float: left;
  text-align: left;
  color: #898989;
  background: #efefef;
}
.img-detail-aside .vip-wrap {
  height: 490px;
  border: 1px solid #e5e5e5;
  background: #fff;
}
.img-detail-aside .vip-wrap .vip-name {
  position: relative;
  z-index: 1;
  color: #898989;
  font-size: 16px;
  border-bottom: 1px solid #e5e5e5;
  height: 66px;
  margin: 0 0 16px 0;
  padding: 10px 0 10px 20px;
}
.img-detail-aside .vip-wrap .vip-name .user-vip {
  margin: 0 22px 0 0;
  vertical-align: middle;
}
.img-detail-aside .img-detail-info {
  color: #666;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 10px 10px 38px;
}
.img-detail-aside .img-detail-info ul li {
  margin-bottom: 23px;
}
.img-detail-aside .img-detail-info ul li:last-child {
  margin-bottom: 0;
}
.img-detail-aside .img-detail-info ul li i:not(:first-child) {
  margin-left: 12px;
}
.img-detail-aside .share-collect {
  font-size: 12px;
  padding: 26px 10px 0 38px;
}
.img-detail-aside .share-collect .icon {
  margin-right: 22px;
}
.img-detail-aside .share-collect .icon:first-child {
  margin-left: 22px;
}
.img-detail-aside .btn-group {
  margin: 20px 0 0 0;
  text-align: center;
}
.img-detail-aside .btn-group a {
  display: inline-block;
  width: 136px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  color: #fff;
  border-radius: 5px;
  background: #a19c9a;
}
.img-detail-aside .btn-group a:first-child {
  margin-right: 22px;
  background: #FF0000;
}
.img-detail-aside .btn-group a .icon {
  margin: 0 17px 0 0;
  vertical-align: -2px;
}
.img-detail-aside .platform-recommend {
  color: #fff;
  letter-spacing: 5px;
  font-size: 21px;
  margin: 20px 0 0 0;
}
.img-detail-aside .platform-recommend .platform-title {
  height: 75px;
  text-align: center;
  line-height: 75px;
  background: #333;
}
.img-detail-aside .platform-recommend .ad-img-wrap {
  display: block;
}
.img-detail-aside .platform-recommend .ad-img-wrap img {
  display: block;
  max-width: 100%;
  max-height: 545px;
  width: 100%;
}
/* 图库详情 end */
