.upload-btn-big {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #bebebe;
  font-size: 24px;
  color: #3e3a39;
  margin: 0px 0 50px 0;
}
.notify-wrap {
  height: 244px;
  background: #fff;
  -moz-box-shadow: 2px 2px 2px #eeeeee;
  /* 老的 Firefox */
  box-shadow: 2px 2px 2px #eeeeee;
  padding: 32px 0 0 46px;
}
.notify-wrap .notify {
  color: #d93600;
  font-size: 18px;
  font-weight: normal;
}
.notify-wrap ol {
  padding: 0 0 0 106px;
}
.notify-wrap ol li {
  margin: 0 0 16px 0;
  color: #898989;
  font-size: 14px;
}
.confirm-wrap {
  text-align: center;
}
.confirm-btn {
  width: 266px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  background: #fa9324;
  color: #fff;
  -moz-box-shadow: 3px 3px 3px #b9b9b9;
  /* 老的 Firefox */
  box-shadow: 3px 3px 3px #b9b9b9;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-size: 18px;
}
.confirm-btn:active {
  transform: translate(1px, 1px);
  -moz-box-shadow: 2px 2px 2px #b9b9b9;
  /* 老的 Firefox */
  box-shadow: 2px 2px 2px #b9b9b9;
}
